@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  border: none;
  margin: 0;
  line-height: 1.42;
  letter-spacing: 1.16px;
  text-transform: none;
  text-decoration: none;
  list-style-type: none;
  font-style: normal;
  scroll-behavior: smooth;
}

h1 {
  display: none;
}

button, a {
  cursor: pointer;
}
button:disabled, a:disabled {
  cursor: auto;
}

h2 {
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  h2 {
    font-size: 43.2px;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 46.656px;
  }
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 50.38848px;
  }
}

h3 {
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  h3 {
    font-size: 34.56px;
  }
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 37.3248px;
  }
}
@media screen and (min-width: 992px) {
  h3 {
    font-size: 40.310784px;
  }
}

h4 {
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  h4 {
    font-size: 25.92px;
  }
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 27.9936px;
  }
}
@media screen and (min-width: 992px) {
  h4 {
    font-size: 30.233088px;
  }
}

h5 {
  font-size: 19px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  h5 {
    font-size: 20.52px;
  }
}
@media screen and (min-width: 768px) {
  h5 {
    font-size: 22.1616px;
  }
}
@media screen and (min-width: 992px) {
  h5 {
    font-size: 23.934528px;
  }
}

h6 {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  h6 {
    font-size: 17.28px;
  }
}
@media screen and (min-width: 768px) {
  h6 {
    font-size: 18.6624px;
  }
}
@media screen and (min-width: 992px) {
  h6 {
    font-size: 20.155392px;
  }
}

p {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1.42;
}
p.xl {
  font-size: 19px;
}
@media screen and (min-width: 600px) {
  p.xl {
    font-size: 20.52px;
  }
}
@media screen and (min-width: 768px) {
  p.xl {
    font-size: 22.1616px;
  }
}
@media screen and (min-width: 992px) {
  p.xl {
    font-size: 23.934528px;
  }
}
p.xl .brand {
  font-size: 19px;
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  letter-spacing: 1;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  p.xl .brand {
    font-size: 20.52px;
  }
}
@media screen and (min-width: 768px) {
  p.xl .brand {
    font-size: 22.1616px;
  }
}
@media screen and (min-width: 992px) {
  p.xl .brand {
    font-size: 23.934528px;
  }
}
p.xl .brand em {
  text-transform: uppercase;
  color: hsl(210, 96%, 40%);
}
@media (prefers-color-scheme: dark) {
  p.xl .brand em {
    text-transform: uppercase;
    color: hsl(32, 96%, 48%);
  }
}
p.la {
  font-size: 16px;
}
@media screen and (min-width: 600px) {
  p.la {
    font-size: 17.28px;
  }
}
@media screen and (min-width: 768px) {
  p.la {
    font-size: 18.6624px;
  }
}
@media screen and (min-width: 992px) {
  p.la {
    font-size: 20.155392px;
  }
}
p.la .brand {
  font-size: 16px;
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  letter-spacing: 1;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  p.la .brand {
    font-size: 17.28px;
  }
}
@media screen and (min-width: 768px) {
  p.la .brand {
    font-size: 18.6624px;
  }
}
@media screen and (min-width: 992px) {
  p.la .brand {
    font-size: 20.155392px;
  }
}
p.la .brand em {
  text-transform: uppercase;
  color: hsl(210, 96%, 40%);
}
@media (prefers-color-scheme: dark) {
  p.la .brand em {
    text-transform: uppercase;
    color: hsl(32, 96%, 48%);
  }
}
p.me {
  font-size: 14px;
}
@media screen and (min-width: 600px) {
  p.me {
    font-size: 15.12px;
  }
}
@media screen and (min-width: 768px) {
  p.me {
    font-size: 16.3296px;
  }
}
@media screen and (min-width: 992px) {
  p.me {
    font-size: 17.635968px;
  }
}
p.me .brand {
  font-size: 14px;
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  letter-spacing: 1;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  p.me .brand {
    font-size: 15.12px;
  }
}
@media screen and (min-width: 768px) {
  p.me .brand {
    font-size: 16.3296px;
  }
}
@media screen and (min-width: 992px) {
  p.me .brand {
    font-size: 17.635968px;
  }
}
p.me .brand em {
  text-transform: uppercase;
  color: hsl(210, 96%, 40%);
}
@media (prefers-color-scheme: dark) {
  p.me .brand em {
    text-transform: uppercase;
    color: hsl(32, 96%, 48%);
  }
}
p.sm {
  font-size: 12px;
}
@media screen and (min-width: 600px) {
  p.sm {
    font-size: 12.96px;
  }
}
@media screen and (min-width: 768px) {
  p.sm {
    font-size: 13.9968px;
  }
}
@media screen and (min-width: 992px) {
  p.sm {
    font-size: 15.116544px;
  }
}
p.sm .brand {
  font-size: 12px;
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  letter-spacing: 1;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  p.sm .brand {
    font-size: 12.96px;
  }
}
@media screen and (min-width: 768px) {
  p.sm .brand {
    font-size: 13.9968px;
  }
}
@media screen and (min-width: 992px) {
  p.sm .brand {
    font-size: 15.116544px;
  }
}
p.sm .brand em {
  text-transform: uppercase;
  color: hsl(210, 96%, 40%);
}
@media (prefers-color-scheme: dark) {
  p.sm .brand em {
    text-transform: uppercase;
    color: hsl(32, 96%, 48%);
  }
}
p.xs {
  font-size: 10px;
}
@media screen and (min-width: 600px) {
  p.xs {
    font-size: 10.8px;
  }
}
@media screen and (min-width: 768px) {
  p.xs {
    font-size: 11.664px;
  }
}
@media screen and (min-width: 992px) {
  p.xs {
    font-size: 12.59712px;
  }
}
p.xs .brand {
  font-size: 10px;
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  letter-spacing: 1;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  p.xs .brand {
    font-size: 10.8px;
  }
}
@media screen and (min-width: 768px) {
  p.xs .brand {
    font-size: 11.664px;
  }
}
@media screen and (min-width: 992px) {
  p.xs .brand {
    font-size: 12.59712px;
  }
}
p.xs .brand em {
  text-transform: uppercase;
  color: hsl(210, 96%, 40%);
}
@media (prefers-color-scheme: dark) {
  p.xs .brand em {
    text-transform: uppercase;
    color: hsl(32, 96%, 48%);
  }
}
p.copyright {
  font-size: 8px;
}
@media screen and (min-width: 600px) {
  p.copyright {
    font-size: 8.64px;
  }
}
@media screen and (min-width: 768px) {
  p.copyright {
    font-size: 9.3312px;
  }
}
@media screen and (min-width: 992px) {
  p.copyright {
    font-size: 10.077696px;
  }
}
p.copyright .brand {
  font-size: 8px;
  font-family: "Rock Salt", cursive;
  font-weight: 300;
  letter-spacing: 1;
  line-height: 1;
}
@media screen and (min-width: 600px) {
  p.copyright .brand {
    font-size: 8.64px;
  }
}
@media screen and (min-width: 768px) {
  p.copyright .brand {
    font-size: 9.3312px;
  }
}
@media screen and (min-width: 992px) {
  p.copyright .brand {
    font-size: 10.077696px;
  }
}
p.copyright .brand em {
  text-transform: uppercase;
  color: hsl(210, 96%, 40%);
}
@media (prefers-color-scheme: dark) {
  p.copyright .brand em {
    text-transform: uppercase;
    color: hsl(32, 96%, 48%);
  }
}

header nav a {
  font-family: "Quicksand", sans-serif;
  font-size: 19px;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1.42;
  text-transform: uppercase;
}
header nav a:hover {
  font-weight: 600;
}

footer nav a {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1.42;
  text-transform: uppercase;
}
footer nav a:hover {
  font-weight: 600;
}

a:not(.btn) {
  color: hsl(210, 96%, 40%);
  transition: all 0.16s ease-in-out;
}
a:not(.btn):hover {
  color: hsl(32, 96%, 48%);
}
@media (prefers-color-scheme: dark) {
  a:not(.btn) {
    color: hsl(32, 96%, 48%);
  }
  a:not(.btn):hover {
    color: hsl(210, 96%, 40%);
  }
}

.btn, .icon-btn {
  transition: all 0.16s ease-in-out;
}
.btn.btn-ghost, .icon-btn.btn-ghost {
  background-color: rgba(0, 0, 0, 0);
  color: hsl(210, 100%, 2%);
}
.btn.btn-ghost:hover, .icon-btn.btn-ghost:hover {
  background-color: rgba(0, 0, 0, 0.16);
}
@media (prefers-color-scheme: dark) {
  .btn.btn-ghost, .icon-btn.btn-ghost {
    background-color: rgba(255, 255, 255, 0);
    color: hsl(210, 0%, 98%);
  }
  .btn.btn-ghost:hover, .icon-btn.btn-ghost:hover {
    background-color: rgba(255, 255, 255, 0.16);
  }
}
.btn.btn-main, .icon-btn.btn-main {
  background-color: hsl(210, 96%, 40%);
  color: hsl(210, 0%, 98%);
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
}
.btn.btn-main *, .icon-btn.btn-main * {
  color: hsl(210, 0%, 98%);
}
@media (prefers-color-scheme: dark) {
  .btn.btn-main, .icon-btn.btn-main {
    background-color: hsl(32, 96%, 48%);
    color: hsl(210, 0%, 98%);
  }
  .btn.btn-main *, .icon-btn.btn-main * {
    color: hsl(210, 0%, 98%);
  }
}
.btn.btn-main:hover, .icon-btn.btn-main:hover {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px, rgba(0, 0, 0, 0.08) 0px 2px 4px;
}
.btn:hover, .icon-btn:hover {
  scale: 0.96;
}

.btn {
  font-size: 14px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  letter-spacing: 1.16px;
  line-height: 1.42;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) {
  .btn {
    font-size: 15.12px;
  }
}
@media screen and (min-width: 768px) {
  .btn {
    font-size: 16.3296px;
  }
}
@media screen and (min-width: 992px) {
  .btn {
    font-size: 17.635968px;
  }
}

.icon-btn {
  font-size: 21px;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  letter-spacing: 1.16px;
  line-height: 1.42;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) {
  .icon-btn {
    font-size: 22.68px;
  }
}
@media screen and (min-width: 768px) {
  .icon-btn {
    font-size: 24.4944px;
  }
}
@media screen and (min-width: 992px) {
  .icon-btn {
    font-size: 26.453952px;
  }
}

input {
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1.42;
  outline: 1px solid rgba(0, 0, 0, 0.16);
  border: none;
  background-color: rgba(0, 0, 0, 0.08);
  transition: all 0.16s ease-in-out;
}
input::-moz-placeholder {
  text-transform: capitalize;
}
input::placeholder {
  text-transform: capitalize;
}
input:hover {
  outline: 1px solid hsl(210, 96%, 40%);
}
input:focus {
  outline: 1px solid hsl(92, 64%, 48%);
}
@media (prefers-color-scheme: dark) {
  input {
    background-color: hsl(210, 0%, 98%);
  }
  input:hover {
    outline: 1px solid hsl(32, 96%, 48%);
  }
  input:focus {
    outline: 1px solid hsl(92, 64%, 48%);
  }
}

label {
  font-family: "Comfortaa", sans-serif;
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1.16px;
  line-height: 1.42;
}
label.xl {
  font-size: 19px;
}
@media screen and (min-width: 600px) {
  label.xl {
    font-size: 20.52px;
  }
}
@media screen and (min-width: 768px) {
  label.xl {
    font-size: 22.1616px;
  }
}
@media screen and (min-width: 992px) {
  label.xl {
    font-size: 23.934528px;
  }
}
label.la {
  font-size: 16px;
}
@media screen and (min-width: 600px) {
  label.la {
    font-size: 17.28px;
  }
}
@media screen and (min-width: 768px) {
  label.la {
    font-size: 18.6624px;
  }
}
@media screen and (min-width: 992px) {
  label.la {
    font-size: 20.155392px;
  }
}
label.me {
  font-size: 14px;
}
@media screen and (min-width: 600px) {
  label.me {
    font-size: 15.12px;
  }
}
@media screen and (min-width: 768px) {
  label.me {
    font-size: 16.3296px;
  }
}
@media screen and (min-width: 992px) {
  label.me {
    font-size: 17.635968px;
  }
}
label.sm {
  font-size: 12px;
}
@media screen and (min-width: 600px) {
  label.sm {
    font-size: 12.96px;
  }
}
@media screen and (min-width: 768px) {
  label.sm {
    font-size: 13.9968px;
  }
}
@media screen and (min-width: 992px) {
  label.sm {
    font-size: 15.116544px;
  }
}
label.xs {
  font-size: 10px;
}
@media screen and (min-width: 600px) {
  label.xs {
    font-size: 10.8px;
  }
}
@media screen and (min-width: 768px) {
  label.xs {
    font-size: 11.664px;
  }
}
@media screen and (min-width: 992px) {
  label.xs {
    font-size: 12.59712px;
  }
}
label.copyright {
  font-size: 8px;
}
@media screen and (min-width: 600px) {
  label.copyright {
    font-size: 8.64px;
  }
}
@media screen and (min-width: 768px) {
  label.copyright {
    font-size: 9.3312px;
  }
}
@media screen and (min-width: 992px) {
  label.copyright {
    font-size: 10.077696px;
  }
}

@keyframes progress-bar-drain {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@keyframes progress-bar-fill {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes toast-pop {
  0% {
    transform: translateX(100%);
    opacity: 1;
  }
  7% {
    transform: translateX(-16px);
  }
  11% {
    transform: translateX(0);
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.absolute, #main-container.home ul li .ctrl-panel, #main-container.home ul li p:first-of-type, #main-container.home form .rating-select label, #main-container.home form .rating-select input[type=radio] {
  position: absolute;
}

.relative, #main-container.home ul li, #main-container.home form .rating-select {
  position: relative;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.flex, .App, #footer-container, #header-container #main-nav, #main-container.home ul li .ctrl-panel button, #main-container.home ul li .ctrl-panel, #main-container.home ul li p:first-of-type, #main-container.home ul, #main-container.home section, #main-container.home form p.xs .bg, #main-container.home form p.xs, #main-container.home form .rating-select label, #main-container.home form .rating-select, #main-container.home form, #main-container.not-found, #main-container.about {
  display: flex;
}

.flex-wrap, #main-container.home form .rating-select {
  flex-wrap: wrap;
}

.flex-col, .App, #footer-container, #main-container.home ul, #main-container.home form, #main-container.not-found, #main-container.about {
  flex-direction: column;
}

.justify-between, .App, #header-container #main-nav, #main-container.home section {
  justify-content: space-between;
}

.justify-center, #footer-container, #main-container.home ul li .ctrl-panel button, #main-container.home ul li p:first-of-type, #main-container.home ul, #main-container.home form p.xs .bg, #main-container.home form .rating-select label, #main-container.home form .rating-select, #main-container.home form, #main-container.not-found, #main-container.about {
  justify-content: center;
}

.align-center, #footer-container, #header-container #main-nav, #main-container.home ul li .ctrl-panel button, #main-container.home ul li p:first-of-type, #main-container.home ul, #main-container.home section, #main-container.home form p.xs .bg, #main-container.home form p.xs, #main-container.home form .rating-select label, #main-container.home form .rating-select, #main-container.home form, #main-container.not-found, #main-container.about {
  align-items: center;
}

.gap-4 {
  gap: 4px;
}

.gap-6, #footer-container, #main-container.home ul li .ctrl-panel, #main-container.home form p.xs {
  gap: 6px;
}

.gap-8, #main-container.about {
  gap: 8px;
}

.gap-12 {
  gap: 12px;
}

.gap-16, #main-container.not-found {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32, #main-container.home ul, #main-container.home form {
  gap: 32px;
}

.gap-40 {
  gap: 40px;
}

.gap-48 {
  gap: 48px;
}

.gap-56 {
  gap: 56px;
}

.container, #footer-container, #header-container {
  width: 100%;
}

.wrapper, #header-container #main-nav {
  width: 100%;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.packet, #main-container.home ul li, #main-container.home section, #main-container.home form, #main-container.about p.me {
  width: 100%;
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}

.w-100, #main-container.home form input[type=text] {
  width: 100%;
}

.h-100, #main-container {
  height: 100%;
}

.w-4 {
  width: 4px;
}

.h-4 {
  height: 4px;
}

.w-6 {
  width: 6px;
}

.h-6 {
  height: 6px;
}

.w-8 {
  width: 8px;
}

.h-8 {
  height: 8px;
}

.w-12 {
  width: 12px;
}

.h-12 {
  height: 12px;
}

.w-16 {
  width: 16px;
}

.h-16 {
  height: 16px;
}

.w-24, #main-container.home ul li .ctrl-panel button {
  width: 24px;
}

.h-24, #main-container.home ul li .ctrl-panel button {
  height: 24px;
}

.w-32 {
  width: 32px;
}

.h-32 {
  height: 32px;
}

.w-40 {
  width: 40px;
}

.h-40 {
  height: 40px;
}

.w-48, #main-container.home form .rating-select label, #main-container.home form .rating-select input[type=radio], #main-container.home form .rating-select .selector {
  width: 48px;
}

.h-48, #main-container.home form .rating-select label, #main-container.home form .rating-select input[type=radio], #main-container.home form .rating-select .selector {
  height: 48px;
}

.w-56, #main-container.home ul li p:first-of-type {
  width: 56px;
}

.h-56, #main-container.home ul li p:first-of-type {
  height: 56px;
}

.p-4, #main-container.home form p.xs .bg {
  padding: 4px;
}

.px-4 {
  padding-left: 4px;
  padding-right: 4px;
}

.py-4 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.p-6 {
  padding: 6px;
}

.px-6 {
  padding-left: 6px;
  padding-right: 6px;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.p-8, #header-container #main-nav .links a, #header-container #main-nav h2 {
  padding: 8px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.p-12 {
  padding: 12px;
}

.px-12 {
  padding-left: 12px;
  padding-right: 12px;
}

.py-12, .btn {
  padding-top: 12px;
  padding-bottom: 12px;
}

.p-16, #footer-container, #header-container #main-nav {
  padding: 16px;
}

.px-16 {
  padding-left: 16px;
  padding-right: 16px;
}

.py-16, input {
  padding-top: 16px;
  padding-bottom: 16px;
}

.p-24 {
  padding: 24px;
}

.px-24, input {
  padding-left: 24px;
  padding-right: 24px;
}

.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.p-32, #main-container, #main-container.home form {
  padding: 32px;
}

.px-32, .btn {
  padding-left: 32px;
  padding-right: 32px;
}

.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.p-40 {
  padding: 40px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.p-48, #main-container.home ul li {
  padding: 48px;
}

.px-48 {
  padding-left: 48px;
  padding-right: 48px;
}

.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.p-56 {
  padding: 56px;
}

.px-56 {
  padding-left: 56px;
  padding-right: 56px;
}

.py-56 {
  padding-top: 56px;
  padding-bottom: 56px;
}

.circle, #main-container.home ul li p:first-of-type, #main-container.home form p.xs .bg, #main-container.home form .rating-select label, #main-container.home form .rating-select .selector {
  border-radius: 50%;
}

.br-4, #main-container.home ul li .ctrl-panel button {
  border-radius: 4px;
}

.br-6 {
  border-radius: 6px;
}

.br-8, .btn {
  border-radius: 8px;
}

.br-12 {
  border-radius: 12px;
}

.br-16, #main-container.home ul li, #main-container.home form {
  border-radius: 16px;
}

.br-24 {
  border-radius: 24px;
}

.br-32, input {
  border-radius: 32px;
}

.br-40 {
  border-radius: 40px;
}

.br-48 {
  border-radius: 48px;
}

.br-56 {
  border-radius: 56px;
}

.mx-auto, #main-container.home ul li {
  margin-left: auto;
  margin-right: auto;
}

.m-4 {
  margin: 4px;
}

.mx-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mt-4 {
  margin-top: 4px;
}

.mb-4 {
  margin-bottom: 4px;
}

.m-6, #main-container.home form .rating-select .selector {
  margin: 6px;
}

.mx-6, #header-container #main-nav .links a {
  margin-left: 6px;
  margin-right: 6px;
}

.mt-6 {
  margin-top: 6px;
}

.mb-6 {
  margin-bottom: 6px;
}

.m-8 {
  margin: 8px;
}

.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mb-8 {
  margin-bottom: 8px;
}

.m-12 {
  margin: 12px;
}

.mx-12 {
  margin-left: 12px;
  margin-right: 12px;
}

.mt-12 {
  margin-top: 12px;
}

.mb-12 {
  margin-bottom: 12px;
}

.m-16 {
  margin: 16px;
}

.mx-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.mt-16, #main-container.not-found .btn {
  margin-top: 16px;
}

.mb-16 {
  margin-bottom: 16px;
}

.m-24 {
  margin: 24px;
}

.mx-24 {
  margin-left: 24px;
  margin-right: 24px;
}

.mt-24 {
  margin-top: 24px;
}

.mb-24 {
  margin-bottom: 24px;
}

.m-32 {
  margin: 32px;
}

.mx-32, #main-container.home form .rating-select {
  margin-left: 32px;
  margin-right: 32px;
}

.mt-32, #main-container.home section, #main-container.about p.me {
  margin-top: 32px;
}

.mb-32 {
  margin-bottom: 32px;
}

.m-40 {
  margin: 40px;
}

.mx-40 {
  margin-left: 40px;
  margin-right: 40px;
}

.mt-40 {
  margin-top: 40px;
}

.mb-40, #main-container.home section {
  margin-bottom: 40px;
}

.m-48 {
  margin: 48px;
}

.mx-48 {
  margin-left: 48px;
  margin-right: 48px;
}

.mt-48 {
  margin-top: 48px;
}

.mb-48 {
  margin-bottom: 48px;
}

.m-56 {
  margin: 56px;
}

.mx-56 {
  margin-left: 56px;
  margin-right: 56px;
}

.mt-56 {
  margin-top: 56px;
}

.mb-56 {
  margin-bottom: 56px;
}

.ta-center, #main-container.home form h3, #main-container.not-found, #main-container.about {
  text-align: center;
}

.bg-red-light, #main-container.home form p.xs .bg {
  background-color: #de6868;
}

.bg-trans-dark-08, #main-container.home ul li, #main-container.home form {
  background-color: rgba(0, 0, 0, 0.08);
}

.bg-trans-dark-16, .btn:disabled {
  background-color: rgba(0, 0, 0, 0.16);
}

.bg-trans-dark-32, #footer-container, #header-container {
  background-color: rgba(0, 0, 0, 0.32);
}

.text-light {
  color: hsl(210, 0%, 98%);
}

.text-dark, #header-container #main-nav .links a {
  color: hsl(210, 100%, 2%);
}

.text-red, #main-container.home form p.xs {
  color: hsl(0, 64%, 48%);
}

.text-red-dark, #main-container.home form p.xs .bg * {
  color: #861d1d;
}

#main-container.home form {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
}
#main-container.home form h3 {
  font-size: 19px;
}
@media screen and (min-width: 600px) {
  #main-container.home form h3 {
    font-size: 20.52px;
  }
}
@media screen and (min-width: 768px) {
  #main-container.home form h3 {
    font-size: 22.1616px;
  }
}
@media screen and (min-width: 992px) {
  #main-container.home form h3 {
    font-size: 23.934528px;
  }
}
#main-container.home form .rating-select input[type=radio] {
  opacity: 0;
  z-index: 5;
  cursor: pointer;
}
#main-container.home form .rating-select label {
  background-color: hsl(210, 96%, 40%);
  color: hsl(210, 0%, 98%);
  font-size: 16px;
  font-weight: 600;
  transition: all 0.16s ease-in-out;
}
#main-container.home form .rating-select label * {
  color: hsl(210, 0%, 98%);
}
@media (prefers-color-scheme: dark) {
  #main-container.home form .rating-select label {
    background-color: #a05703;
    color: hsl(210, 0%, 98%);
  }
  #main-container.home form .rating-select label * {
    color: hsl(210, 0%, 98%);
  }
}
#main-container.home form .rating-select input[type=radio]:checked + label {
  background-color: hsl(92, 64%, 48%);
  color: hsl(210, 0%, 98%);
}
#main-container.home form .rating-select input[type=radio]:checked + label * {
  color: hsl(210, 0%, 98%);
}
#main-container.home form p.xs {
  font-weight: 600;
}
@media (prefers-color-scheme: dark) {
  #main-container.home form {
    background-color: hsl(210, 0%, 98%);
    color: hsl(210, 100%, 2%);
  }
  #main-container.home form * {
    color: hsl(210, 100%, 2%);
  }
  #main-container.home form .btn {
    background-color: hsl(32, 96%, 48%);
    color: hsl(210, 0%, 98%);
  }
  #main-container.home form .btn * {
    color: hsl(210, 0%, 98%);
  }
}
#main-container.home section h4 {
  font-size: 16px;
}
@media screen and (min-width: 600px) {
  #main-container.home section h4 {
    font-size: 17.28px;
  }
}
@media screen and (min-width: 768px) {
  #main-container.home section h4 {
    font-size: 18.6624px;
  }
}
@media screen and (min-width: 992px) {
  #main-container.home section h4 {
    font-size: 20.155392px;
  }
}
#main-container.home ul li {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
}
#main-container.home ul li p {
  font-weight: 600;
}
#main-container.home ul li p:first-of-type {
  background-color: hsl(210, 96%, 40%);
  color: hsl(210, 0%, 98%);
  top: -20px;
  left: -20px;
  font-size: 19px;
}
#main-container.home ul li p:first-of-type * {
  color: hsl(210, 0%, 98%);
}
@media (prefers-color-scheme: dark) {
  #main-container.home ul li p:first-of-type {
    background-color: hsl(32, 96%, 48%);
    color: hsl(210, 0%, 98%);
  }
  #main-container.home ul li p:first-of-type * {
    color: hsl(210, 0%, 98%);
  }
}
#main-container.home ul li .ctrl-panel {
  top: 12px;
  right: 12px;
}
#main-container.home ul li .ctrl-panel button {
  font-size: 14px;
  background-color: rgba(0, 0, 0, 0);
  transition: all 0.16s ease-in-out;
}
@media screen and (min-width: 600px) {
  #main-container.home ul li .ctrl-panel button {
    font-size: 15.12px;
  }
}
@media screen and (min-width: 768px) {
  #main-container.home ul li .ctrl-panel button {
    font-size: 16.3296px;
  }
}
@media screen and (min-width: 992px) {
  #main-container.home ul li .ctrl-panel button {
    font-size: 17.635968px;
  }
}
#main-container.home ul li .ctrl-panel button:hover {
  background-color: rgba(0, 0, 0, 0.16);
}
@media (prefers-color-scheme: dark) {
  #main-container.home ul li {
    background-color: hsl(210, 0%, 98%);
    color: hsl(210, 100%, 2%);
  }
  #main-container.home ul li * {
    color: hsl(210, 100%, 2%);
  }
}

#header-container {
  z-index: 10;
}
#header-container #main-nav h2 {
  font-size: 24px;
}
#header-container #main-nav .links a {
  font-size: 16px;
  transition: all 0.16s ease-in-out;
}
@media (prefers-color-scheme: dark) {
  #header-container #main-nav .links a {
    color: hsl(210, 0%, 98%);
  }
}

#main-container {
  overflow-y: scroll;
}

#footer-container {
  z-index: 10;
}

.btn {
  transition: all 0.16s ease-in-out;
}
.btn:hover {
  scale: 0.96;
}
.btn:disabled {
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 8px, rgba(0, 0, 0, 0.08) 0px 4px 8px;
  scale: 1;
}

.App {
  background-color: hsl(210, 0%, 98%);
  color: hsl(210, 100%, 2%);
  height: 100dvh;
  width: 100dvw;
}
.App * {
  color: hsl(210, 100%, 2%);
}
@media (prefers-color-scheme: dark) {
  .App {
    background-color: #011428;
    color: hsl(210, 0%, 98%);
  }
  .App * {
    color: hsl(210, 0%, 98%);
  }
}/*# sourceMappingURL=index.css.map */